/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: 'Lato', sans-serif;
	background: #EDEFF0;
}

.wrapper {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;

}

.clearfix:after {
	clear: both;
}

.main_header {
	width: 100%;
	margin: 0 auto;
	background: white;	
	#logo {
		float: left;
		a{
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: -1px;
			font-size: 1.2rem;
			text-decoration: none;
			color: #397CAC;		
		}
	}
	#buttons {
		float: right;
		a {
			line-height: 60px;
			padding: 0.5em 1em;
			border-radius: 0.2em;
			color: white;
			text-decoration: none;
			font-weight: 100;
			background: #397CAC; 
		}
	}
}

#posts {
	background: white;
	padding: 2em 5%;
	border-radius: 0.5em;
	.post {
		margin: 1em 0;	
		padding: 1em 0;
		border-bottom: 1px solid #D1d1d1;
		.title{
			margin: 0;
			a {
				text-decoration: none;
				font-weight: 100;
				color: #397CAC;
				font-size: 1.25rem;
			}
		}
		.date {
			margin-top: .25rem;
			font-size: 0.9rem;
			color: #B2BAC2;
		}
	}
}

#post_content {
	background: white;
	padding: 2em 5%;
	border-radius: 0.5em;
	h1 {
		text-decoration: none;
		font-weight: 100;
		color: #397CAC;
		font-size: 2em;
		margin-top: 0;
	}
	p {
		color: #B2BAC2;	
		font-size: 0.9rem;
		font-weight: 100;
		line-height: 1.5;	
	}	
	#comments {
		.comment {
			padding-bottom: 1em;
			margin-bottom: 1em;
			border-bottom: 1px solid #D1d1d1;
			.comment_content {
				margin: 0;
				padding: 0;
			} 
			.comment_author {
				color: #397CAC;
				margin-top: 0.5rem;
				font-weight: 700;
				font-size: 0.6em;
			}
		}
	}
}

